@using DominoServer.Pages.Components
@page "/Game"

<PageTitle>Game</PageTitle>

@if(Bridge.torneo==null)
{
    <div style="background-color: white; color:black; padding:10%; margin-bottom:2%;">
        <p style="display:none;">@(TodoCorrecto=false)</p>
        <h1>Ha ocurrido algun error</h1>
        <h2>Haga click en el boton para regresar atras</h2>
        <button>
            <NavLink  class="NavLink" href=""><p style=" margin-bottom:0px;">Volver</p></NavLink>
        </button>
    </div>
}

@if(salir)
{
    <div id="salir">
        <h1>¿Desea abandonar?</h1>
        <div>
            <NavLink  class="NavLink" href="">
                <button style="background-color: rgb(27, 177, 42);">
                    Si
                </button>
            </NavLink>
            <button style="background-color: rgb(216, 2, 2);" @onclick="Salida">No</button>
        </div>
    </div>
}

@if(EndOfTheRound && !EndOfTheTorney)
{
    <h1 class="JuegoTerminado">Ronda Terminada</h1>
    <div id="resumen">
        <div>    
            <div>
                <p>@(Bridge.jugadores[0].Nombre):</p>
                @if(mano1.Length==0)
                {
                    <p>Se pego</p>
                }
                @foreach (var item in mano1)
                {   
                    <Piece horizontal=false ficha=item></Piece>
                }
            </div>
            
            <div>
                <p>@(Bridge.jugadores[1].Nombre):</p>
                @if(mano2.Length==0)
                {
                    <p>Se pego</p>
                }
                @foreach (var item in mano2)
                {   
                    <Piece horizontal=false ficha=item></Piece>    
                }
            </div>
    </div>

    @if(Bridge.jugadores.Length>=3)
    { 
        <div>       
            <div>
                <p>@(Bridge.jugadores[2].Nombre):</p>
                @if(mano3.Length==0)
                {
                    <p>Se pego</p>
                }
                @foreach (var item in mano3)
                {   
                    <Piece horizontal=false ficha=item></Piece>
                }
            </div>

            @if(Bridge.jugadores.Length>=4)
            {
                <div style="display: flex;">
                    <p>@(Bridge.jugadores[3].Nombre):</p>
                    @if(mano4.Length==0)
                    {
                        <p>Se pego</p>
                    }
                    @foreach (var item in mano4)
                    {   
                        <Piece horizontal=false ficha=item></Piece>
                    }
                </div>
            }
        </div>
    }

    </div>

    <div style="display: flex;align-items:center;">
        <div style="border:solid; width:50% ;margin-top:3%;margin-bottom:3%; border-radius:20px;">
            <p class="JuegoTerminado" style="font-size:60px; margin:1%">Puntuaciones</p>
                @foreach(var item in Bridge.torneo!.Scores)
                {
                    <p class="JuegoTerminado" style="font-size:30px; text-decoration:none;margin:0.5%">Equipo# @(item.Key): @item.Value</p> 
                }
        </div>
            
        <div id="aaa">
            <button @onclick="NextRound" class="buttonindex">
                Proximo Juego
            </button>
                        
            <NavLink  class="NavLink" href="">
                <button class="buttonindex">
                    <p style=" margin-bottom:0px;">Salir del Juego</p>
                </button>
            </NavLink>
        </div>
    </div>
}

@if(EndOfTheTorney)
{
    <h1 class="JuegoTerminado"> Ganador: </h1>
    
    <div class="Final">
        <div>
            <p>Equipo #@Bridge.torneo!.Ganador</p>
            @foreach (var item in Bridge.jugadores)
            {
                @if(Bridge.torneo!.Ganador==item.Equipo)
                {<p>@item.Nombre</p>}        
            }
        </div>
        <div>
            <p>Puntuacion:</p> 
            <p>@Bridge.torneo.Scores[Bridge.torneo.Ganador]</p>
        </div>
    </div>

    <div class="Final">
        <div>
            <NavLink  class="NavLink" href="Game">
                <button @onclick="OnInitialized" class="buttonindex">
                    <p style=" margin-bottom:0px;">Jugar de nuevo</p>
                </button>
            </NavLink>
        </div>
        <div>
            <NavLink  class="NavLink" href="">
                <button class="buttonindex"  style="width:200px;">
                    <p style=" margin-bottom:0px;">Volver a menu principal</p>
                </button>
            </NavLink>
        </div>
    </div>
}


@if (TodoCorrecto && !EndOfTheRound)
{
    <div style="display:flex;">
        
        <div class="columna">
            <div class="corner">
                <button @onclick="NextPlay" disabled="@salir">
                    ▶
                </button>
            </div>
            <div class="ManoVertical">
                <h1>@(Bridge.jugadores[1].Nombre)</h1>
                @foreach (var item in mano2)
                {
                    <Piece horizontal ficha=item></Piece>
                }
            </div>
            <div class="corner">
                @foreach(var item in Bridge.torneo!.Scores)
                {
                    <p>Equipo# @(item.Key): @item.Value</p> 
                }
            </div>
        </div>

        <div style="flex-direction:column; width:1100px;">
            <div class="ManoHorizontal">
                <h1>@(Bridge.jugadores[0].Nombre)</h1>
                @foreach (var item in mano1)
                {
                    <Piece horizontal=false ficha=item></Piece>                    
                }
            </div>

            <div id="mesa" style=@displaymesa()>
                @foreach (var item in mesa)
                {
                    <div>
                        <Piece ficha=item horizontal=@(!esdoble(item.values))></Piece>
                    </div>
                }
            </div>
            @if(Bridge.jugadores.Length>=3)
            {
            <div class="ManoHorizontal">
                <h1>@(Bridge.jugadores[2].Nombre)</h1>
                @foreach (var item in mano3)
                {
                    <Piece horizontal=false ficha=item></Piece>
                }
            </div>
            }
        </div>

        <div class="columna">
            <div class="corner">
                <button @onclick="Salida">
                    <p>↩</p>
                </button>
            </div>
            @if(Bridge.jugadores.Length>=4)
            {
            <div class="ManoVertical">
                
                <h1>@(Bridge.jugadores[3].Nombre)</h1>
                @foreach (var item in mano4)
                {
                    <Piece ficha=item horizontal></Piece>
                }
            </div>
            }

        <div class="corner">
            <h3>Jugador Actual</h3>
            <p style="font-size: 25px; text-align: center;">@Bridge.escenas.Current.JugadorUltimaJugada.Nombre</p>
        </div>
        </div>

    </div>
}

@code{
    static DominoTable.Piece<int>[] mano1=Bridge.escenas.Current.manos[Bridge.jugadores[0]].ToArray();
    static DominoTable.Piece<int>[] mano2=Bridge.escenas.Current.manos[Bridge.jugadores[1]].ToArray();
    static DominoTable.Piece<int>[] mano3=
    Bridge.jugadores.Length>=3?Bridge.escenas.Current.manos[Bridge.jugadores[2]].ToArray():null!;
    static DominoTable.Piece<int>[] mano4=
    Bridge.jugadores.Length>=3?Bridge.escenas.Current.manos[Bridge.jugadores[2]].ToArray():null!;
    static DominoTable.Piece<int>[] mesa=Bridge.escenas.Current.Tablero.ToArray();
    bool TodoCorrecto=true;
    bool EndOfTheTorney=false;
    bool EndOfTheRound=false;
    bool salir=false;

    void Salida()
    {
        salir=!salir;
    }
    void NextPlay()
    {
        if(Bridge.escenas.MoveNext())
        {
            mano1=Bridge.escenas.Current.manos[Bridge.jugadores[0]].ToArray();
            mano2=Bridge.escenas.Current.manos[Bridge.jugadores[1]].ToArray();
            if(Bridge.jugadores.Length>=3)
            {
                mano3=Bridge.escenas.Current.manos[Bridge.jugadores[2]].ToArray();
                if(Bridge.jugadores.Length>=4)
                    mano4=Bridge.escenas.Current.manos[Bridge.jugadores[3]].ToArray();
            }
            mesa=Bridge.escenas.Current.Tablero.ToArray();
        }
        else EndOfTheRound=true;
    }

    void NextRound()
    {
        if(Bridge.juegos.MoveNext())
        {
            EndOfTheRound=false;
            Bridge.escenas=Bridge.juegos.Current.GetEnumerator();
            NextPlay();
        }
        else
        {
            EndOfTheTorney=true;
        }
    }

    bool esdoble(int[] ficha)
    {
        return ficha[0]==ficha[1];
    }

    protected override void OnInitialized()
    {
        Bridge.torneo=new DominoGame.Torney<int>(Bridge.jugadores,Bridge.reglas);
        Bridge.juegos=Bridge.torneo.GetEnumerator();
        if(Bridge.juegos.MoveNext())
        {
            Bridge.escenas=Bridge.juegos.Current.GetEnumerator();
            if(Bridge.escenas.MoveNext())
                Bridge.escenaActual=Bridge.escenas.Current;
        }
        mano1=Bridge.escenas.Current.manos[Bridge.jugadores[0]].ToArray();
        mano2=Bridge.escenas.Current.manos[Bridge.jugadores[1]].ToArray();
        mano3=Bridge.jugadores.Length>=3?Bridge.escenas.Current.manos[Bridge.jugadores[2]].ToArray():null!;
        mano4=Bridge.jugadores.Length>=3?Bridge.escenas.Current.manos[Bridge.jugadores[3]].ToArray():null!;
        mesa=Bridge.escenas.Current.Tablero.ToArray();
        TodoCorrecto=true;
        EndOfTheTorney=false;
        EndOfTheRound=false;
        salir=false;
    }

    string displaymesa()
    {
        if(mesa.Length>10)return "justify-content:flex-start;";
        return "";
    }
}

