@page "/"

<PageTitle>Index</PageTitle>

@if(manual)
{
    
    <div style="padding:7%; padding-bottom:3%">
        @foreach(var item in Manual.Lineas(text))
        {
            <p style="text-align: justify-content; font-size:30px; color:cyan;">@item</p>
        }
    </div>

  <button class="buttonindex" @onclick="DisplayManual">Volver</button>

}
@if(!manual)
{
<header>
    <h1>Domino⬜⬛</h1>
</header>
<div style="display: flex;">
    <div style="flex:1;"><h1 id="Nombre">Opciones</h1></div>
    <div><button style="background-color: transparent;color:white;width:40px; font-size:25px;" @onclick="DisplayManual">?</button></div>
</div>
<form>
    <div>
        <div class="reglas">
            <div>
                <p>Tipo de domino</p>
                <select @bind-value="tipo" @bind-value:event="oninput">
                    @for (int i = 4; i <= 9; i++)
                    {
                        <option value=@i>@(i)x@(i)</option>
                    }
                    <option value=10>otro</option>
                    <option value=11>letras</option>
                </select>
                @if (tipo==10)
                {
                    <input type="number" min=4 @bind-value="tipo2" @bind-value:event="oninput" style="width: 50px;">
                }
                @if (tipo==11)
                {
                    <input type="text" maxlength="1" minlength="1" @bind-value="tipo3" @bind-value:event="oninput" style="width: 50px;">
                }
            </div>
            <div>
                <p>Numero de jugadores</p> 
                <input type="number" min="2" max="4" @bind-value="@numero_de_jugadores" @bind-value:event="oninput" class="number">
            </div>
            <div>
                    <p>Maxima cantidad inicial de fichas</p> 
                    <input type="number" min="3" max="@MaximoInicial(Number())" @bind-value="@CantidadInicial" @bind-value:event="oninput" class="number">
            </div>
        </div> 

        <div id="jugadores">
        @foreach(var jug in jugadores)
        {
        <label style="filter: blur(@(jug.numero>=numero_de_jugadores?5:0)px);">
                <label style="border-style: none; margin:0px;padding:0px;">Nombre:
                    <input type="text" @bind-value="jug.nombre" @bind-value:event="oninput" disabled="@(jug.numero>=numero_de_jugadores)" style="width:100px">
                </label>
                <label style="border-style: none; margin:0px;padding:0px;">
                    Equipo:
                    <input type="number" @bind-value="jug.equipo" disabled="@(jug.numero>=numero_de_jugadores)" min="1" max="@numero_de_jugadores" style="width:50px;">
                </label>

                <label><input type="radio" name="@jug.numero" @onclick="()=>jug.tipo_de_jugador=0" checked disabled="@(jug.numero>=numero_de_jugadores)">Borracho</label>
                <label><input type="radio" name="@jug.numero" @onclick="()=>jug.tipo_de_jugador=1" value=1 disabled="@(jug.numero>=numero_de_jugadores)">BotaGorda</label>
                <label><input type="radio" name="@jug.numero" @onclick="()=>jug.tipo_de_jugador=2" value=2 disabled="@(jug.numero>=numero_de_jugadores)">Agachado</label>
                <label><input type="radio" name="@jug.numero" @onclick="()=>jug.tipo_de_jugador=3" value=3 disabled="@(jug.numero>=numero_de_jugadores)">El Duro</label>
                <label><input type="radio" name="@jug.numero" @onclick="()=>jug.tipo_de_jugador=4" value=4 disabled="@(jug.numero>=numero_de_jugadores)">Impredecible</label>
        </label>
        }
        </div>

        <div class="reglas">
        <div style="border-style: none; padding:0px;">
            <div>
                <label>
                    <p>Reglas de domino</p> 
                    <select @bind-value="Juez" @bind-value:event="oninput">
                        <option value=0>Domino Estandar</option>
                        <option value=3>Siempre dobles</option>
                        @if(tipo!=11)
                        {
                            <option value=1>Escalerodomino</option>
                            <option value=2>Piramidomino</option>
                        }
                    </select>
                </label>
            </div>
            
            <div>
                <label>
                    <p>Tipo de pase:</p> 
                    <select @bind-value="Turno" @bind-value:event="oninput">
                        <option value=0>Estandar</option>
                        <option value=1>Robadito</option>
                        <option value=4>CicloDomino</option>
                    </select>
                </label>
            </div>
            
            <div>
                <label>
                    <p>Gana la partida el equipo:</p> 
                    <select @bind-value="Ganador" @bind-value:event="oninput">
                        <option value=0>Con el jugador de menor puntuacion</option>
                        <option value=1>Con la menor suma de puntuaciones</option>
                    </select>
                </label>
            </div>

            <div>
                <label>
                    <p>Tipo de torneo</p> 
                    <select @bind-value="Torneo" @bind-value:event="oninput">
                        <option value=0>Por puntos</option>
                        <option value=1>Por victorias</option>
                    </select>
                </label>
            </div>
        </div>

        <div style="border-style: none; padding:0px;">
    
            <div>
                <label>
                    <p>Valor de las fichas</p> 
                    <select @bind-value="Evaluador" @bind-value:event="oninput">
                        @if(tipo!=11)
                        {
                            <option value=0>Suma de puntos</option>
                            <option value=1>Dobles cuentan dobles</option>
                            <option value=2>Multiplicacion de las caras</option>
                            <option value=3>Norma asociada</option>
                            <option value=5>Cara Maxima</option>
                        }
                        @if(tipo==11)
                        {
                            <option value=6>Evaluador de caracteres</option>    
                        }
                        <option value=4>Todas iguales</option>
                    </select>
                </label>
            </div>
            
            <div>
                <label>
                    <p>Fin de juego</p> 
                    <select @bind-value="Final" @bind-value:event="oninput">
                        <option value=0>Estilo Tradicional</option>
                        <option value=1>Dos pases seguidos</option>
                        <option value=2>Superar puntos en mesa</option>
                    </select>
                </label>
            </div>
            
            
            <div>
                <label>
                    <p>Fichas:</p> 
                    <select @bind-value="Generador" @bind-value:event="oninput">
                        @if(tipo==11)
                        {
                            <option value=2>Generador de caracteres</option>    
                        }
                        @if(tipo!=11)
                        {
                            <option value=0>Sin repeticion</option>
                            <option value=1>Con repeticion igual a la cantidad</option>
                        }
                    </select>
                </label>
            </div>
            <div>
                <label>
                    <p>Cantidad Inicial</p> 
                    <select @bind-value="Repartidor" @bind-value:event="oninput">
                        <option value=0>Igual para todos</option>
                        <option value=1>Menor o igual a la maxima</option>
                    </select>
                </label>
            </div>
            
        </div>
        </div>
        
        <NavLink href=@(tipo==11?"GameChar":"Game") class="NavLink">
            <button @onclick="Play" class="buttonindex" disabled=@(tipo==11&&(tipo3.Length==0 || !Char.IsLetter(tipo3[0])))>
                <p style=" margin-bottom:0px;">¡JUGAR!</p>
            </button>
        </NavLink>
    </div>
</form>
}

@code{
    string text="";
    bool manual=false;
    void DisplayManual()
    {
        manual=!manual;
        text=Manual.text;
        //text=File.ReadAllText(Directory.GetFiles(Directory.GetCurrentDirectory())[0]);
    }
    static int numero_de_jugadores=4;
    static int CantidadInicial=3;
    static int tipo=6;
    static int tipo2=10;
    static string tipo3="k";
    public static int MaximoInicial(int a)@*cambiar aqui*@
    {
        return ((a+2)*(a+1)/2)/numero_de_jugadores;
    }
    public static int Number()
    {
        if (tipo==11)
        {
            return (tipo3.Length==0 || !Char.IsLetter(tipo3[0]))?3:Char.ToLower(tipo3[0])-'a';
        }
        return tipo==10?tipo2:tipo;
    }
    class Jugador{
    public int tipo_de_jugador;
    public string nombre;
    public int equipo;
    public int numero;
    public Jugador(string nombre, int equipo, int tipo, int num)
    {
        tipo_de_jugador=tipo;
        this.nombre=nombre;
        this.equipo=equipo;
        numero=num;
    }
    };
    Jugador[] jugadores=new Jugador[]
    {
        new Jugador("Jugador 1", 1,0,0),
        new Jugador("Jugador 2", 2,0,1),
        new Jugador("Jugador 3", 3,0,2),
        new Jugador("Jugador 4", 4,0,3)
    };

    int Turno;
    int Juez;
    int Final;
    int Torneo;
    int Ganador;
    int Repartidor;
    int Generador;
    int Evaluador;

    void Play()
    {
        
        string[] nombres=new string[numero_de_jugadores];
        int[] equipos=new int[numero_de_jugadores];
        int[] tipos=new int[numero_de_jugadores];
        for(int i=0;i<numero_de_jugadores;i++)
        {
            nombres[i]=jugadores[i].nombre;
            equipos[i]=jugadores[i].equipo;
            tipos[i]=jugadores[i].tipo_de_jugador;
        }
        if(tipo<=10)
            Bridge.CrearTorneo(numero_de_jugadores,Number(),CantidadInicial,nombres,equipos,tipos,
            Turno,Juez,Final,Torneo,Ganador,Repartidor,Generador,Evaluador);
        else
            Bridge2.CrearTorneo(numero_de_jugadores,Number(),CantidadInicial,nombres,equipos,tipos,
            Turno,Juez,Final,Torneo,Ganador,Repartidor,Generador,Evaluador);
    }
}